# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

.R*

#Rcpp intermediates
RcppExports.*
.Rproj.userls

/data
help_kuinkaAsentaaDevtoolsTritonilleEiToimi.txt
help_kuinkaAsentaaDevtoolsTyokoneelle.txt
memo.R
memo.txt
*.RData
